.project-container {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  margin-top: -5vh;
  background-color: rgba(0, 0, 0, 0.796);
  width: 75vw;
  height: 60vh;
  overflow: scroll;
  padding: 40px 30px;
  border-radius: 10px;
}

/* When User Hovers Over Project View Animation is Triggered and Opacity becomes 1 */
.projects:hover .project-container {
  display: grid;
  animation-name: appear-and-slide-up;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

video {
  width: 100%;
  border-radius: 10px;
}

@keyframes appear-and-slide-up {
  from {
    opacity: 0;
    margin-top: 20vh;
  }
  to {
    opacity: 1;
  }
}

.links {
  text-align: left;
}

.links a {
  color: white;
}

.links {
  margin-top: 10px;
}

.individual-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: white;
}

.project-title {
  font-weight: bolder;
}

.project-title,
.links,
.individual-project__right p {
  font-size: 1.2vw;
}
.project-title,
.links {
  text-align: center;
}

.links a:hover {
  color: #3c4f64;
  transition: 0.2s;
}

.individual-project__right p {
  margin-top: 7vh;
  max-height: 17vh;
  overflow: auto;
}
