body {
 font-family: "Raleway", sans-serif;
 background-image: url("../assets/images/home.jpg");
 background-repeat: no-repeat;
 background-size: 100vw 100vh;
 /* overflow: hidden; */
}

.view {
 width: 5vw;
 float: right;
 transition: 0.4s;
 overflow: hidden;
 height: 100vh
}

@keyframes appear-and-slide-up {
  from {
    opacity: 0;
    margin-top: 20vh;
  }
  to {
    opacity: 1;
  }
}

.slide-duration {
  /*animation-name: appear-and-slide-up;*/
  animation-fill-mode: forwards;
  animation-duration: 1.3s;
}



/* --------------------------HOME VIEW------------------------------ */

.page-title {
  display: inline-block;
 font-family: "Major Mono Display", monospace;
 font-size: 18px;
 /* letter-spacing: 3px; */
 transform: rotate(270deg);
 /* text-align: left; */
 float: left;
 width: 5vw;
 margin-top: 75px;
 margin-left: -1vw;
 transition: 0.2s;
 color: white;
}

.background-image {
 background-size: cover;
 background-repeat: no-repeat;
 background-position: left;
 height: 100vh;
}
