.individual-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33vw;
  min-width: 288px;
  margin: 10px;
  color: white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.796);
}
