.home-title h1,
.home-title p {
  font-family: "Major Mono Display", monospace;
  line-height: 2;
  margin: 0 auto;
  font-weight: bold;
}

.home-title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.9vw;
  letter-spacing: 5px;
  color: #3c4f64;
  margin-top: 5vh;
  margin-right: 5vw;  
}

@media only screen and (max-width: 700px) {
  .home-title {
    font-size: 11px;
    margin-top: -2vh;
  }
}
