.about {
  background-color: black;
}

.about-modal {
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), black);
  width: 40vw;
  padding: 0px 15px;
  padding-top: 25px;
  margin-left: 5vw;
  border-radius: 10px;
  cursor: default;
  overflow: scroll;
}

.about-modal img {
  /* background-size: 100% 120%; */
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.about-modal p {
  margin: 0 auto;
  background: -webkit-linear-gradient(#3c4f64, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2;
  font-size: 1.65vw;
  text-align: center;
  font-weight: bolder;
}

@media only screen and (max-width: 800px) {

  .about-modal p {
    font-size: 13px;
  }
  .about-modal {
    display: block;
    margin: 0 auto;
    margin-top: 15vh;
    width: 51vw;
  }
}
