.about {
  background-color: black;
}

.about-modal {
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01), black);
  width: 40vw;
  height: 52vh;
  padding: 0px 15px;
  /* padding-top: 7.5vh; */
  margin-left: 5vw;
  border-radius: 10px;
  cursor: default;
  overflow: scroll;
}

.about-modal img {
  /* background-size: 100% 120%; */
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.about-modal p {
  margin: 0 auto;
  background: -webkit-linear-gradient(#3c4f64, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2.5;
  font-size: 1.5vw;
  text-align: justify;
  font-weight: bolder;
}

/* Mobile Responsive */

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .about-modal {
    margin-top: 5vh;
  }
  .about-modal p {
    background: -webkit-linear-gradient(#3c4f64, grey, grey, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .about-modal p {
    background: -webkit-linear-gradient(#3c4f64, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .about-modal {
    margin-top: 5vh;
  }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .about-modal {
    margin-top: 5vh;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .about-modal {
    margin-top: 5vh;
  }
}

/* ----------- 4K Screens ----------- */
@media only screen and (min-device-width: 1600px) {
    .about-modal {
      margin-top: 15vh;
  }
}
