.about {
  background-color: black;
}

.about-modal {
  display: flex;
  margin: 0;
  margin-left: 5vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  background: linear-gradient(white,rgba(255, 255, 255, 0.3));
  width: 40vw;
  padding: 15px;
  height: 40vh;
  border-radius: 10px;
  overflow: scroll;
}

.about-modal img {
  /* background-size: 100% 120%; */
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.about-modal p {
  margin: 0 auto;
  background: -webkit-linear-gradient(#3c4f64,#3c4f64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2;
  font-size: 1.3vw;
  text-align: center;
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {

  .about-modal p {
    font-size: 12px;
  }
  .about-modal {
    width: 60vw;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
