.about {
  background-color: black;
}

.about-modal {
  display: grid;
  grid-template-columns: 1.7fr 3fr;
  width: 65vw;
  margin: 0 13vw;
  margin-top: 15vh;
  opacity: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.796);
  cursor: default;
  opacity: 1;
}

.about:hover .about-modal {
  animation-name: modalslide;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 1;
}

.about-modal img {
  /* background-size: 100% 120%; */
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

@keyframes modalslide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-modal p {
  color: white;
  line-height: 1.5;
  font-size: 1.2vw;
  text-align: justify;
  padding: 10px;
  font-weight: bolder;
}
