.home-image {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid orange; */
  height: 75vh;
  width: 100%;
  margin: 0px;
}

.home-view .page-title {
  position: absolute;
  top: 6vh;
  left: 0;
}

@keyframes slideup {
  from {
    margin-top: 20vh;
    opacity: 0;
  }
  to {
    margin-top: 15vh;
    opacity: 1;
    visibility: visible;
  }
}

.home-view:hover .home-title {
  display: block;
  opacity: 1;
  visibility: visible;
  animation-name: slideup;
  animation-duration: 0.5s;
}

/* Mobile Responsive */

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-title {
    opacity: 1;
    /* color: red; */
  }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-title {
    opacity: 1;
    /* color: yellow; */
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .home-view .page-title {
    position: absolute;
    top: 10vh;
    left: 0;
  }
}
