.contact {
  /* background-color: black; */
}

.skill-modal {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 65%;
  height: 400px;
  margin-left: 15vw;
  overflow: hidden;
}

.skills,
.resume {
  height: 135px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.skills:hover,
.resume:hover {
  opacity: 1;
}

.resume {
  background-image: url("../../assets/images/SkillLanguages/resume-two-logo-LEG.png");
  background-color: #fdfff7;
}
