.icons ion-icon {
  display: inline-block;
  height: 100px;
  margin: 0 3px;
  font-size: 3vw;
  transition: 0.3s;
  color: white;
}

.icons ion-icon:hover {
  color: #364358;
  font-size: 2.7vw;
  transition: 0.3s;
}

.icons {
  text-align: right;
  margin-right: 10vw;
}
