.icons ion-icon {
  display: inline-block;
  font-size: 3.5vw;
  transition: 0.5s;
  color: white;
}

.icons ion-icon:hover {
  color: #364358;
  font-size: 3.2vw;
  transition: 0.5s;
}

.icons {
  text-align: right;
  margin-right: 10vw;
}
