ion-icon {
  display: inline-block;
  font-size: 3vw;
  transition: 0.2s;
  color: white;
  opacity: 0;
  transition: all 0.3s;
}

ion-icon:hover {
  color: #364358;
  transform: scale(.9);
}

/*Row of icons appear only when hovered.*/
.view:hover ion-icon,
.home-view:hover ion-icon {
  opacity: 1;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-left: 70vw;
  padding-top: 10px;
  width: 19vw;
}

/* Mobile Responsive */

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .icons ion-icon {
    opacity: 1;
    /* color: red; */
  }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .icons ion-icon {
    opacity: 1;
    /* color: yellow; */
  }
}
