ion-icon {
  font-size: 2.5rem;
  margin: 0px 7px;
  transition: 0.2s;
  color: white;
  opacity: 0;
  transition: all 0.3s;
}

ion-icon:hover {
  color: #364358;
  transform: scale(.9);
}

/*Row of icons appear only when hovered.*/
.view:hover ion-icon,
.home-view:hover ion-icon {
  opacity: 1;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  /* border: 1px solid gold; */
  padding-top: 10px;
  /* width: 19vw; */
}
