body {
  background-color: yellow;
}

.App {
  text-align: center;
}

.view {
  display: inline-block;
  width: 5vw;
  height: 100vh;
  float: right;
  transition: 0.5s;
}

.view:hover {
  width: 85vw;
  animation-name: expand;
  transition: 0.5s;
}

@keyframes expand {
  from {
    width: 50vw;
  }
  to {
    width: 85vw;
    float: none;
  }
}
