body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-image: url("./images/home.jpg");
  background-size: 100vw 100vh;
  overflow: hidden;
}

@keyframes slideup {
  from {
    top: 300px;
    opacity: 0;
  }
  to {
    top: 205px;
    opacity: 1;
  }
}

.view {
  width: 3vw;
  height: 100vh;
  float: right;
  transition: 0.5s;
  overflow: hidden;
}

.view:hover {
  width: 91vw;
  animation-name: expand;
  transition: 0.5s;
}

@keyframes expand {
  from {
    width: 3vw;
  }
  to {
    width: 91vw;
  }
}

/* --------------------------HOME VIEW------------------------------ */

.page-title {
  font-family: "Major Mono Display", monospace;
  font-size: 1.5vw;
  font-weight: bolder;
  letter-spacing: 5px;
  transform: rotate(270deg);
  float: left;
  position: absolute;
  top: 50vh;
  text-align: center;
  width: 17vw;
  margin-left: -7vw;
  transition: 0.2s;
  color: white;
}

.view:hover .page-title,
.home-view:hover .page-title {
  /* display: none; */
  top: -25vh;
  transition: 0.2s;
}

.home-view:hover .home-title {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  word-spacing: 5px;
  letter-spacing: 11px;
  color: #3c4f64;
  animation-name: slideup;
  animation-duration: 0.5s;
}

@keyframes slideup {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: 35%;
    opacity: 1;
  }
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  /* Blur Is detrimental to performance */
  /* filter: blur(10px);
  transition: 0.3s; */
}

.view .background-image:hover {
  transition: 0.12s;
  filter: none;
}

/* .background-image: hover; */
