.skill-modal {
	display: none;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content:center;
	border-radius: 5px;
	width: 77vw;
	max-height: 75vh;
	overflow: auto;
}

.skill-modal img {
  height: 25vh;
  min-width: 200px;
  width: 18vw;
  margin: 2px;
  border-radius: 5px;
  transition: all .5s;
}

.skill-modal img:hover {
	transform: scale(.9);
}

/* ----------- 4K Screens ----------- */
@media only screen and (min-device-width: 1600px) {
    .skill-modal {
      margin-top: 15vh;
  }
}