.projects {
  /* background-color: black; */
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* position: absolute;
  top: 5vh;
  left: 17vw; */
  margin: 0 auto;
  margin-top: -85vh;
  background-color: rgba(0, 0, 0, 0.68);
  width: 70vw;
  /* height: 90vh; */
  overflow: scroll;
  padding: 40px 20px;
  border-radius: 10px;
  /* display: none; */
}

video {
  width: 30vw;
  border-radius: 10px;
}
